@charset "UTF-8";

/*
Con posicionamiento flotante.
Inconveniente: Dado que un flotante se saca completamente
del flujo, su altura está determinada por su contenido y
no es posible dar un valor relativo a la propiedad altura
que permita igualar la altura de éstos con independencia del
contenido. No ocurre lo mismo con la anchura la cual se puede
fijar tanto de forma absoluta como relativa.
*/
body {
    max-width: 1000px;
    margin: 0 auto;
}

main , aside {
	overflow: hidden;
}

main {
    padding: 2em 1em 1em 1em;
}

aside {
    float: right;
    width: 230px;
    padding-top: 4em;
}
